body{
    margin: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
}

th, td{
    padding: 10px;
    text-align: left;
}

form{
    margin-bottom: 20px;
}

input, button{
    padding: 8px;
    margin-right: 10px;
}

button{
    cursor: pointer;
}

/* modal */

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
   background-color: #fff;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   border-radius: 5px;
   max-width: 500px;
}

.close-modal{
     background-color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}